<body class="footer-offset">
    <!-- ========== HEADER ========== -->
    <app-top-header-ui></app-top-header-ui>
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main bg-temp " >
      <!-- Content -->
      <div class="content container ">
       
        <!-- End Page Header -->
  
        <!-- Stats -->
       
        <!-- End Stats -->
     

         <div class="row " >
            <div class="col-lg-3">
               <p class="pagetitle
               ">
                Meter Reading
               </p>
            </div>
            <div class="col-lg-9">
              
             
              <form [formGroup]="myForm" (ngSubmit)="GetTodayMeterReading(myForm)" >
               <div class="d-flex justify-content-between">
                    
                         <label for="">Opening Date</label>
                         <input type="text" class="form-control" formControlName="closingdate" style="width:200px"  >
                         <label for="">Reading Date</label>
                         <input type="date" formControlName="openingDate" class="form-control" style="width:200px">
                    
                         <label for="">Reading No</label>
                         <input type="text" formControlName="readingNo" class="form-control" style="width:200px">
                    
                         <button type="submit" class="btn btn-primary">Read</button>
                        </div>
                
                </form>
            </div>
         </div>
         <ng-container *ngIf="isloading; else dataTemplate">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
         </ng-container>
        <ng-template #dataTemplate>
          <div class="row" >
            <div class="col-lg-8">
              <form >
                <div class="row customback1">
                  <h5>Nozzle Name </h5>
                  <div class="d-flex py-2">
                      <input type="text" class="form-control" value="D1"   >
                      <input type="text" class="form-control" value="D2" >
                      <input type="text" class="form-control" value="P3" >
                      <input type="text" class="form-control" value="P4" >
                      <input type="text" class="form-control" value="P5" >
                      <input type="text" class="form-control" value="P6" >
                  </div>
               </div>
               <div class="row py-1 customback2">
                  <h5>Yesterday Meter Reading (Opening) </h5>
                  <div class="d-flex" >
                    
                      <input type="text" class="form-control"  formControlName="d1" >
                      <input type="text" class="form-control"  formControlName="d2" >
                      <input type="text" class="form-control"  formControlName="p3" >
                      <input type="text" class="form-control"   formControlName="p4" >
                      <input type="text" class="form-control"  formControlName="p5"  >
                      <input type="text" class="form-control"  formControlName="p6"  >
                    
                   
                  </div>
               </div>
                 <div class="row py-1 customback3">
                    <h5>Today Meter Reading  </h5>
                    <div class="d-flex" >
                      <input type="text" class="form-control" formControlName="d11"  >
                      <input type="text" class="form-control"   formControlName="d21" >
                      <input type="text" class="form-control" formControlName="p31" >
                      <input type="text" class="form-control"   formControlName="p41" >
                      <input type="text" class="form-control"  formControlName="p51" >
                      <input type="text" class="form-control"  formControlName="p61">
                       
                    </div>
                 </div>
               
                 <div class="row py-1 customback4">
                    <h5>Today Meter Sale  </h5>
                    <div class="d-flex">
                        <input type="text" class="form-control" value={{todaymetersaled1}}>
                        <input type="text" class="form-control" value={{todaymetersaled2}}>
                        <input type="text" class="form-control" value={{todaymetersalep3}} >
                        <input type="text" class="form-control" value={{todaymetersalep4}} >
                        <input type="text" class="form-control" value={{todaymetersalep5}} >
                        <input type="text" class="form-control" value={{todaymetersalep6}}>
                    </div>
                 </div>

                 <div class="row py-1 customback5">
                  <h5>Today Meter Sale Price  </h5>
                  <div class="d-flex">
                      <input type="text" class="form-control" value={{todaymetersalepriced1}}>
                      <input type="text" class="form-control" value={{todaymetersalepriced2}}>
                      <input type="text" class="form-control" value={{TodayMeterSalePriceP3}} >
                      <input type="text" class="form-control" value={{TodayMeterSalePriceP4}} >
                      <input type="text" class="form-control" value={{TodayMeterSalePriceP5}} >
                      <input type="text" class="form-control" value={{TodayMeterSalePriceP6}}>
                  </div>
               </div>
                 <div class="row mt-1">
                    <div class="col-lg-8">
                        <button class="btn btn-danger mx-1">
                           Cancel
                        </button>
                        <button class="btn btn-primary mx-1" [formGroup]="myForm" (click)="AddTodayMeterReadings(myForm)">
                            Post
                         </button>
                         <button class="btn btn-secondary mx-1" [formGroup]="myForm" (click)="processValue(myForm)">
                            Process Value
                         </button>
                         <button class="btn btn-warning mx-1">
                            Un Post
                         </button>
                         <button (click)="generatePDF()" class="btn btn-warning">Export PDF</button>
                        
                    </div>
                    
                 </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row  mt-5 ">
                <div class="col-lg-12">
                   <div class="form-group ms-5 ">
                     <h5>Pur Rate Petrol</h5>
                     <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">260</div>
                      </div>
                   </div>
                   <div class="form-group ms-5 mt-2">
                    <h5>Pur Rate Diesel</h5>
                    <div class="progress" style="height: 20px;">
                       <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">272</div>
                     </div>
                  </div>
                  <div class="form-group ms-5 mt-2">
                    <h5>Sale Rate Petrol</h5>
                    <div class="progress" style="height: 30px;">
                       <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">272</div>
                     </div>
                  </div>
                  <div class="form-group ms-5 mt-2">
                    <h5>Sale Rate Diesel</h5>
                    <div class="progress" style="height: 30px;">
                       <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">280</div>
                     </div>
                  </div>
                </div>
                <div class="col-lg-12 mt-5">
                    <div class="d-flex justify-content-center ms-5">
                     <button class="btn btn-primary mx-1">
                         New 
                      </button>
                      <button class="btn btn-primary mx-1">
                         Save 
                      </button>
                      <button class="btn btn-primary">
                         close
                      </button>
                    </div>
                 </div>
              
                </div>
            </div>
        </div>
        </ng-template>
       
      </div>
     
      
      <app-pdf-renderer 
      [todayreading]="todayreading"
      [yesterdayreading]="yesterdayreading" 
      [todaymetersaled1]="todaymetersaled1"
      [todaymetersaled2]="todaymetersaled2"
      [todaymetersalep3]="todaymetersalep3"
      [todaymetersalep4]="todaymetersalep4"
      [todaymetersalep5]="todaymetersalep5"
      [todaymetersalepriced1]="todaymetersalepriced1"
      [todaymetersalepriced2]="todaymetersalepriced2"
      [TodayMeterSalePriceP3]="TodayMeterSalePriceP3"
      [TodayMeterSalePriceP4]="TodayMeterSalePriceP4"
      [TodayMeterSalePriceP6]="TodayMeterSalePriceP6"
      >
    </app-pdf-renderer>
     
      <!-- Footer -->
       <app-footer></app-footer>
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <app-left-nav-side></app-left-nav-side>
    
    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Keyboard Shortcuts -->
    <app-bottem-left-nav-side></app-bottem-left-nav-side>
    <!-- End Keyboard Shortcuts -->
  
    <!-- Activity -->
    <app-right-nav-side></app-right-nav-side>
    <!-- End Activity -->

    <!-- ========== END SECONDARY CONTENTS ========== -->
</body>