
<div class="row" >
  <div class="col-sm-6 col-xl-3 mb-3 mb-xl-5" >
    <!-- Card -->
    <a class="card shadow-lg p-3 mb-5 bg-white rounded  gradient-1 border-0 h-200" style="height: 13rem;" href="#">
      <div class="card-body">
        <h3 class="card-title text-white">Active Users</h3>

        <div class="row align-items-center gx-2 mb-1">
          <div class="col-6 mb-4">
            <h1 class="card-title text-white">
              {{activeUser || 0}}
            </h1>
          </div>
          <!-- End Col -->

          <div class="col-6">
            <!-- Chart -->
             
            <!-- End Chart -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <span class="badge bg-success text-white">
          <i class="bi-graph-up"></i> 12.5%
        </span>
        <span class="text-body fs-6 ms-1">from 7200</span>
      </div>
    </a>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-xl-3 mb-3 mb-xl-5">
    <!-- Card -->
    <a class="card shadow-lg p-3 mb-5 bg-white rounded  blue-gradient h-200" style="height: 13rem;" href="#">
      <div class="card-body">
        <h3 class="card-title text-white">On Leave</h3>

        <div class="row align-items-center gx-2 mb-1">
          <div class="col-6 mb-4">
            <h1 class="card-title text-white">
             {{onLeave ||0 }}
            </h1>
          </div>
          <!-- End Col -->

          <div class="col-6">
            <!-- Chart -->
             
            <!-- End Chart -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <span class="badge bg-success text-white">
          <i class="bi-graph-up"></i> 12.5%
        </span>
        <span class="text-body fs-6 ms-1">from 7200</span>
      </div>
    </a>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-xl-3 mb-3 mb-xl-5">
    <!-- Card -->
    <a class="card shadow-lg p-3 mb-5 bg-white rounded sky h-200" style="height: 13rem;" href="#">
      <div class="card-body">
        <h3 class="card-title text-white">Trainees</h3>

        <div class="row align-items-center gx-2 mb-1">
          <div class="col-6 mb-4">
            <h1 class="card-title text-white">
              {{trainee || 0}}
            </h1>
          </div>
          <!-- End Col -->

          <div class="col-6">
            <!-- Chart -->
             
            <!-- End Chart -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <span class="badge bg-warning text-white">
          <i class="bi-graph-up"></i> 12.5%
        </span>
        <span class="text-body fs-6 ms-1">from 7200</span>
      </div>
    </a>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-xl-3 mb-3 mb-xl-5">
    <!-- Card -->
    <a class="card shadow-lg p-3 mb-5 bg-white rounded  green h-200" style="height: 13rem;" href="#">
      <div class="card-body">
        <h3 class="card-title text-white">Juniors</h3>

        <div class="row align-items-center gx-2 mb-1">
          <div class="col-6 mb-4">
            <h1 class="card-title text-white">{{juniors}}</h1>
          </div>
          <!-- End Col -->

          <div class="col-6">
            <!-- Chart -->
             
            <!-- End Chart -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <span class="badge sky text-white">
          <i class="bi-graph-up"></i> 12.5%
        </span>
        <span class="text-body fs-6 ms-1">from 7200</span>
      </div>
    </a>
    <!-- End Card -->
  </div>

 
</div>