<body class="footer-offset">

    <script src="./assets/js/hs.theme-appearance.js"></script>
  
    <!-- ========== HEADER ========== -->
    <app-top-header-ui></app-top-header-ui>
    <!-- ========= END HEADER ========== -->
 
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main bg-temp " >
      <!-- Content -->
      <div class="content container">
       <div class="row">
        <div class="col-lg-5">
          <div class="card px-5">
            <div class="card-header">
               <div class="row">
                <div class="col-lg-4">
                    <H4>Pump Nozzles</H4>
                </div>
               
                 <div class="col-lg-8">
                    <div class=" d-flex justify-content-end">
                        <button type="button" class="btn btn-primary  mx-1">Save</button>
                        <button type="button" class="btn btn-secondary  mx-1">New</button>
                        <button type="button" class="btn btn-danger  mx-1">Close</button>
                     </div>
                 </div>
               </div>
               
            </div>
            <div class="py-2">
                <div class="row mb-1">
                    <div class="col">
                        <label for="" class="text-dark my-2">Nozle Code</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" value="7" required>
                    </div>
                </div>
                <div class="row mb-1">
                   <div class="col"> 
                    <label for="" class="text-dark my-2">Nozle Name</label>
                   </div>
                    <div class="col">
                        <input type="text" class="form-control" value="D1">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col"><label for="" class="text-dark my-2">Nozle Type</label></div>
                     <div class="col">
                        <select name="" id="" class="form-select" required>
                            <option value="Petrol Tank" selected>Petrol Tank</option>
                            <option value="Disel Tank">Disel Tank</option>
                         </select>
                     </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <label for="" class="text-dark my-2">Departent</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" value="Petrol Tank">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <label for="" class="text-dark my-2">Item</label>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" value="01101001" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">
                                <div class="fa fa-search"></div>
                            </span>
                          </div>
                    </div>
                </div>
                <div class="form-group py-2 text-center">
                    <input type="text" class="btn btn-primary d-grid " value="Petrol">
                  
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
            <div class="card ">
                <!-- Header -->
                <div class="card-header">
                  <div class="row justify-content-between align-items-center flex-grow-1">
                    
                    <div class="col-md">
                      <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-header-title">Records</h4>
        
                        <!-- Datatable Info -->
                        <div id="datatableCounterInfo" style="display: none;">
                          <div class="d-flex align-items-center">
                            <span class="fs-6 me-3">
                              <span id="datatableCounter">0</span>
                              Selected
                            </span>
                            <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                              <i class="tio-delete-outlined"></i> Delete
                            </a>
                          </div>
                        </div>
                        <!-- End Datatable Info -->
                      </div>
                    </div>
                    <!-- End Col -->
        
                    <div class="col-auto">
                      <!-- Filter -->
                      <div class="row align-items-sm-center">
                        <div class="col-sm-auto">
                          <div class="row align-items-center gx-0">
                            <div class="col">
                              <span class="text-secondary me-2">Filter:</span>
                            </div>
                            <!-- End Col -->
        
                            <div class="col-auto">
                              <!-- Select -->
                              <div class="tom-select-custom">
                                <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="2" autocomplete="off" data-hs-tom-select-options='{
                                          "searchInDropdown": false,
                                          "hideSearch": true,
                                          "dropdownWidth": "10rem"
                                        }'>
                                  <option value="null" selected>Departent</option>
                                  <option value="successful">Code</option>
                                  <option value="overdue">Name</option>
                                  <option value="pending">Item</option>
                                </select>
                              </div>
                              <!-- End Select -->
                            </div>
                            <!-- End Col -->
                          </div>
                          <!-- End Row -->
                        </div>
                        <!-- End Col -->
        
                        <div class="col-sm-auto">
                          <div class="row align-items-center gx-0">
                            <div class="col">
                              <span class="text-secondary me-2">Time:</span>
                            </div>
                            <!-- End Col -->
        
                            <div class="col-auto">
                              <!-- Select -->
                              <div class="tom-select-custom">
                                <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="5" autocomplete="off" data-hs-tom-select-options='{
                                          "searchInDropdown": false,
                                          "hideSearch": true,
                                          "dropdownWidth": "10rem"
                                        }'>
                                  <option value="null" selected>All</option>
                                  <option value="1 year ago">1 year ago</option>
                                  <option value="6 months ago">6 months ago</option>
                                </select>
                              </div>
                              <!-- End Select -->
                            </div>
                            <!-- End Col -->
                          </div>
                          <!-- End Row -->
                        </div>
                        <!-- End Col -->
        
                        <div class="col-md">
                          <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                              <div class="input-group-prepend input-group-text">
                                <i class="bi-search"></i>
                              </div>
                              <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
                            </div>
                            <!-- End Search -->
                          </form>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Filter -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Header -->
        
                <!-- Table -->
                <div class="table-responsive datatable-custom">
                  <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-striped table-hover" data-hs-datatables-options='{
                           "columnDefs": [{
                              "targets": [0, 1, 4],
                              "orderable": false
                            }],
                           "order": [],
                           "info": {
                             "totalQty": "#datatableWithPaginationInfoTotalQty"
                           },
                           "search": "#datatableSearch",
                           "entries": "#datatableEntries",
                           "pageLength": 8,
                           "isResponsive": false,
                           "isShowPaging": false,
                           "pagination": "datatablePagination"
                         }'>
                    <thead class="table-dark">
                      <tr>
                        <th scope="col" class="table-column-pe-0">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                          </div>
                        </th>
                        <th class="table-column-ps-0 fw-bolder text-white">Id</th>
                        <th class="fw-bolder text-white">Code</th>
                        <th class="fw-bolder text-white">Name</th>
                        <th class="fw-bolder text-white">Type</th>
                        <th class="fw-bolder text-white">Item</th>
                        <th class="fw-bolder text-white">Department</th>
                      </tr>
                    </thead>
        
                    <tbody>
                      <tr>
                        <td class="table-column-pe-0">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="usersDataCheck2">
                            <label class="form-check-label" for="usersDataCheck2"></label>
                          </div>
                        </td>
                        <td class="table-column-ps-0">
                         20
                        </td>
                        <td>
                          1
                        </td>
                        <td>D1</td>
                        <td>D</td>
                        <td>Disel</td>
                        <td>Disel Tank</td>
                      </tr>
                      <tr>
                        <td class="table-column-pe-0">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="usersDataCheck2">
                            <label class="form-check-label" for="usersDataCheck2"></label>
                          </div>
                        </td>
                        <td class="table-column-ps-0">
                         20
                        </td>
                        <td>
                          1
                        </td>
                        <td>D1</td>
                        <td>D</td>
                        <td>Disel</td>
                        <td>Disel Tank</td>
                      </tr>
                      <tr>
                        <td class="table-column-pe-0">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="usersDataCheck2">
                            <label class="form-check-label" for="usersDataCheck2"></label>
                          </div>
                        </td>
                        <td class="table-column-ps-0">
                         20
                        </td>
                        <td>
                          1
                        </td>
                        <td>D1</td>
                        <td>D</td>
                        <td>Disel</td>
                        <td>Disel Tank</td>
                      </tr>
                      <tr>
                        <td class="table-column-pe-0">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="usersDataCheck2">
                            <label class="form-check-label" for="usersDataCheck2"></label>
                          </div>
                        </td>
                        <td class="table-column-ps-0">
                         20
                        </td>
                        <td>
                          1
                        </td>
                        <td>D1</td>
                        <td>D</td>
                        <td>Disel</td>
                        <td>Disel Tank</td>
                      </tr>
                      

        
                      </tbody>
                  </table>
                </div>
                <!-- End Table -->
        
                <!-- Footer -->
                <div class="card-footer">
                  <!-- Pagination -->
                  <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm  mb-sm-0">
                      <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                        <span class="me-2">Showing:</span>
        
                        <!-- Select -->
                        <div class="tom-select-custom">
                          <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                                    "searchInDropdown": false,
                                    "hideSearch": true
                                  }'>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8" selected>4</option>
                            <option value="12">12</option>
                          </select>
                        </div>
                        <!-- End Select -->
        
                        <span class="text-secondary me-2">of</span>
        
                        <!-- Pagination Quantity -->
                        <span id="datatableWithPaginationInfoTotalQty"></span>
                      </div>
                    </div>
                    <!-- End Col -->
        
                    <div class="col-sm-auto">
                      <div class="d-flex justify-content-center justify-content-sm-end">
                        <!-- Pagination -->
                        <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                      </div>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Pagination -->
                </div>
                <!-- End Footer -->
              </div>
        </div>
       </div>
  
       
      </div>
      <!-- End Content -->
  
     
       <!-- Footer -->
       <app-footer></app-footer>
     
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
  
     <!-- ========== END MAIN CONTENT ========== -->
     <app-left-nav-side></app-left-nav-side>
    
     <!-- ========== SECONDARY CONTENTS ========== -->
     <!-- Keyboard Shortcuts -->
     <app-bottem-left-nav-side></app-bottem-left-nav-side>
     <!-- End Keyboard Shortcuts -->
   
     <!-- Activity -->
     <app-right-nav-side></app-right-nav-side>
     <!-- End Activity -->
 
     <!-- ========== END SECONDARY CONTENTS ========== -->
 
   


</body>