<div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasActivityStream" aria-labelledby="offcanvasActivityStreamLabel">
    <div class="offcanvas-header">
      <h4 id="offcanvasActivityStreamLabel " class="mb-0 text-white">Third Navigation Pannel Here</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="navbar-expand-lg navbar-vertical text-white mb-3 mb-lg-5" >
          <!-- Navbar Toggle -->
          <div class="d-grid">
          <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenuCardPills" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenuCardPills">
              <span class="d-flex justify-content-between align-items-center">
              <span class="text-white">Menu</span>
      
              <span class="navbar-toggler-default">
                  <i class="bi-list"></i>
              </span>
      
              <span class="navbar-toggler-toggled text-white">
                  <i class="bi-x text-white" style="color: #fff;"></i>
              </span>
              </span>
          </button>
          </div>
          <!-- End Navbar Toggle -->
      
          <!-- Navbar Collapse -->
          <div id="navbarVerticalNavMenuCardPills" class="collapse navbar-collapse">
          <div id="navbarSettingsCardWithNav" class=" nav nav-pills nav-vertical">
              <span class="dropdown-header">Account</span>
      
              <a class="nav-link active text-white" href="#">
              <i class="bi-house nav-icon text-white"></i> Active
              </a>
              <!-- Collapse -->
              <div id="navbarVerticalMenuCardPills">
              <a class="nav-link dropdown-toggle" href="#navbarVerticalMenuPagesCardPills" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesCardPills" aria-expanded="false" aria-controls="navbarVerticalMenuPagesCardPills">
                  <i class="bi-stickies nav-icon text-white"></i>
                  <span class="nav-link-title text-white">Users</span>
              </a>
      
              <div id="navbarVerticalMenuPagesCardPills" class="nav-collapse collapse" data-bs-parent="#navbarVerticalMenuCardPills">
                  <a class="nav-link text-white" href="#">Overview</a>
                  <a class="nav-link text-white" href="#">Leaderboard</a>
                  <a class="nav-link text-white" href="#">Add User</a>
              </div>
              </div>
              <!-- End Collapse -->
              <a class="nav-link text-white" href="#">
              <i class="bi-app-indicator nav-icon text-white"></i> Password
              </a>
      
              <div class="dropdown-divider text-white"></div>
      
              <span class="dropdown-header text-white">Settings</span>
      
              <a class="nav-link text-white" href="#">
              <i class="bi-sliders nav-icon text-white"></i> Settings
              </a>
              <a class="nav-link text-white" href="#">
              <i class="bi-box-arrow-right nav-icon text-white"></i> Log Out
              </a>
          </div>
          </div>
          <!-- End Navbar Collapse -->
      </div>
    </div>
  </div>