<table class="table table-hover d-none" id="table1" >
    <thead>
     <tr>
    
     <td>
      Meter Reading
     </td>
     <td>
      Opening Date
     </td>
     <td>
      Closing Date 
     </td>
      <td>
        Reading NO
      </td>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          
        </td>
        <td>
          {{yesterdayreading.date}
        </td>
        <td>
          {{todayreading.date}}
        </td>
        <td>
          {{yesterdayreading.readingNo }}
        </td>
      </tr>
    </tbody>
   
  </table>
  <table class="table table-hover d-none" id="table" >
    <thead>
     <tr>
     <td>
      Reading Menue
     </td>
     <td>
      D1
     </td>
     <td>
      D2
     </td>
     <td>
      P3
     </td>
     <td>
      P4
     </td>
     <td>
      P5
     </td>
     <td>
      P6
     </td>
     </tr>
    </thead>
     <tbody>
      <tr>
        <td>
          Yesterday Reading
        </td>
        <td>
           {{todayreading.d1}}
        </td>
       
        <td>
         {{todayreading.d2}}
        </td>
        <td>
        {{todayreading.p3}}
        </td>
        <td>
        {{todayreading.p4}}
        </td>
      <td>
        {{todayreading.p5}}
      </td>
      <td>
      {{todayreading.p6}}
      </td>
      </tr>

      <tr>
        <td>
          Today Reading
        </td>
      <td>
     {{yesterdayreading.d1}}  
      </td>
        <td> {{yesterdayreading.d2}}</td>
        <td>
         {{yesterdayreading.p3}}
        </td>
        <td>
          {{yesterdayreading.p4}}

        </td>
        <td>
          {{yesterdayreading.p5}}
        </td>
       <td>
        {{todayreading.p6}}
       </td>
      </tr>

      <tr>
        <td>
          Today Meter Sale
        </td>
        <td>
          {{todaymetersaled1}}
        </td>
                 <td>
                  {{todaymetersaled2}}
                 </td>
                 <td>
                  {{todaymetersalep3}} 
                 </td>
                  <td>
                    {{todaymetersalep4}} 
                  </td>
                  <td>
                    {{todaymetersalep5}} 
                  </td>
                  <td>
                  {{todaymetersalep6}}  
                  </td>
            
      </tr>

      <tr>
        <td>
          Today Meter Sale Price
        </td>
        <td>
          {{todaymetersalepriced1}}
        </td>
                 <td>
                  {{todaymetersalepriced2}}
                 </td>
                 <td>
                  {{TodayMeterSalePriceP3}} 
                 </td>
                  <td>
                    {{TodayMeterSalePriceP4}} 
                  </td>
                  <td>
                    {{TodayMeterSalePriceP5}} 
                  </td>
                  <td>
                  {{TodayMeterSalePriceP6}}  
                  </td>
            
      </tr>
     </tbody>
   
  </table>
  <table class="table table-hover d-none" id="table2" >
    <thead>
     <tr>
    
     <td>
      Pur Rate Petrol
     </td>
     <td>
      Pur Rate Diesel
     </td>
     <td>
      Sale Rale Petrol 
     </td>
     <td>
      Sale Rate Diesel
     </td>
     
     </tr>
    </thead>
     <tbody>
      <tr>
        <td>
         260
        </td>
        <td>
          272
        </td>
       
        <td>
         272
        </td>
        <td>
       280
        </td>
       
     

      </tr>

     
     </tbody>
   
  </table> 
 
